*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    /* width: 100vw; */
    height: 100vh;
}
main{
    width: 70%;
    height: 100vh;
    position: relative;
}


/* ??????????????? */
.hideMe{
    display: none;
}
/* -------------- */

aside{
    justify-self: center;
    background-color: rgb(211, 211, 211);
    overflow: auto;

}
aside div{
    padding: 20px 20px;
    border-bottom: 1px solid black;

}
.aktiv-div{
    background-color: white;
}
nav{
    background-color: rgb(0, 83, 146);
    width: 70px;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
nav button{
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
    background-color: white;
    border: none;
    outline-style: none;

}

nav img{
    width: 32px;
    height: 32px;
}


nav .logo{
    width: auto;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px ;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
nav i{
    /* justify-self:; */
    font-size: 2.5rem;
}
/* nav .navtools{
    width: 32px;
    height: 32px;
}
     */

.preview.notes:first-child{
    background-color: gray;
    
}





/* Following segment is styling for first-time visit information. */

#first-visit-container {
    width: 90%;
    margin: 0 auto;
    font-size: 24px;
    position: absolute;
    display: none;
    /* Gör så att diven kommer över allt annat */
    z-index: 1;
}

#first-visit-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    padding: 2.5%;
    height: 70vh;
    border-radius: 10px;
    background-color:white;
    line-height: 1.4em;
    letter-spacing: 2px;
    font-size: 30px;
    color: #333;
}
#first-visit-content > h1 {
    text-align: center;
    width: 100%;
    color: #6C63FF;
    font-size: 2.5em;
    letter-spacing: 6px;
    margin-bottom: 5%;
}
#first-visit-content > img {
   width: 50%;
   margin: 0 auto;
}
#first-visit-content > p {
   width: 40%;
   margin: 0 auto;
}

p > span {
    color:#6C63FF;
    font-weight: bold;
    font-size: 40px;
}

#first-visit-content > button {
    margin: 4% auto;
    background-color: #6C63FF;
    border: none;
    color: white;
    font-weight: 800;
    font-size: 2rem;
    border-radius: 60px;
    padding: 1% 6%;
}
/* End of segment for styling first-time visit */

#title-input{
    position: absolute;
    /* margin: 3% 40%; */
    border:none;
    padding: 0 30px;
    font-size: 25px;
    outline: none;
    top: 20px;
    margin-left: 500px;
}

#editor {
    position: absolute;
    font-size: 16px;
    width: 100%;
    top: 80px;
    padding: 0 30px;
    margin-left: 500px;

}

