body{
    background-color: rgb(221, 228, 252);
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.hideMe{
    display: none;
}

.ql-toolbar.ql-snow{
    margin-left: 300px;
    margin-bottom: 20px;
}


.url{
    width: 500px;
    height: 20px; 
    border: 1px solid black;
    margin: 0 auto;
}

.url > input{
    width: 500px;
    height: 20px; 
    outline: none;
}

div.ql-editor{
    border: black solid 1px;
    border-radius: 10px;
    height: 700px;
    width: 500px;
    margin: 0px auto;
    outline: none;
    background:#f4f4f4;
    padding: 0;
}

div.ql-editor > p
{
    /* border: 1px solid black; */
    border-radius: 10px;
    height: 700px;
    width: 500px;
    margin: 0px auto;
    outline: none;
    background:#f4f4f4;
    padding: 10px;
}

.para{
    height: 680px;
    width: 500px;
    outline: none;
}

.fas{
    color: black;
}


/* Following segment is styling for the control panel */

.control-panel {
    display:flex;
    position: absolute;
    flex-direction: column;
    width: 15%;
}

.control-panel > button {
    height: 15vh;
    background-color: white;
    border: none;
    border-bottom: rgb(221, 228, 252) solid 2px;

}

.fa-info {
    font-size: 4rem;
}

/* End of segment for styling control panel */



/* Following segment is styling for first-time visit information. */

#first-visit-container {
    padding: 0;
    margin-top: 2%;
    font-size: 24px;
    display: none;
    position: absolute;
    /* Gör så att diven kommer över allt annat */
    z-index: 1;
}

#first-visit-content {
    margin: 0 auto;
    padding: 2.5%;
    width: 60%;
    height: 80vh;
    border-radius: 10px;
    background-color: #f4f4f4;
    flex-direction: column;
}
#first-visit-content > h1 {
    text-align: center;
}
#first-visit-content > button {
    display: flex;
    margin: 10% auto;
    background-color: grey;
    color: white;
    font-weight: 800;
    font-size: 2rem;
    border: none;
    border-radius: 20px;
    padding: 2% 11%;
}
/* End of segment for styling first-time visit */



.wrapper {
    width: 70%;
    float: right;
    margin-right: 10%;
    height: 800px;

}
/* 
 #mytextarea{
    background-color: white;
    height: 800px;
}  */

#mceu_28, #mceu_27-body {
    display: none;
}

.mce-notification-warning{
    display: none;
}